{% load static %}
<nav class="side-herder navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <img src="{% static 'app_genaral/logonew.png' %}" style=" margin: 4px;"  width="30" height="30">
        <li class="nav-item">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          
        </li>
        <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
          จัดการบุคคล
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="{% url 'Kids_form' %}">เกี่ยวกับเด็ก</a>
          <a class="dropdown-item" href="{% url 'emp_show' %}">เกี่ยวกับพนักงาน</a>
          <a class="dropdown-item" href="{% url 'parent_form' %}">เกี่ยวกับผู้ปกครอง</a>

          <a class="dropdown-item" href="#"></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'detail_daycareform'%}">พัฒนาการเด็ก</a>
      </li>
      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
          จัดการกิจกรรมเสริม
        </a>
        <div class="dropdown-menu sm-menu">
          
          <a class="dropdown-item" href="{% url 'activity_form'%}">ข้อมูลกิจกรรมเสริมทักษะเด็ก</a>
        </div>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'detail_daycareform'%}">การชำระเงิน</a>
      </li>
  
      </ul>
      
     
    </div>
  </nav>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function () {
  $('.navbar-light .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
    }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
    });
  });
  </script>